.card {
    border: 1px solid black;
    border-radius: 7px;
}

.favorites {
    display: grid;
    grid-template-columns: repeat(9 , auto) ;
}


.imagem {
    border-radius: 50%;
    background: cornflowerblue;
    transition: transform 0.2s;
    margin-bottom: 20px;
}

.imagem:hover {
    transform: translateY(-20px); 
}

.treinador {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px 0;
}
.deslike {
    
    background-color: khaki;
    cursor: pointer;
    margin-bottom: 100px;
    /* margin-left: 20px; */
    position: absolute;
    
}