.App {
  text-align: center;
  padding: 0;
  background-color: rgb(238, 238, 238);
}

.pokemonCard {
  height: 200px;
  width: 180px;
  border-radius: 10px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content{
  min-height: 82vh;
}