.App {
    text-align: center;
    padding: 0;
    background-color: rgb(238, 238, 238);
  }

.pokedex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pokemonCard {
  height: 200px;
  width: 180px;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.pokemonCard :hover{
  cursor: pointer;
}

button{
  background-color: rgb(194, 194, 194);
  border-radius: 5px;
  padding: 10px;
  border: 2px;
}

.pageButtons{
  display: flex;
  justify-content: space-evenly;
}

.pageButtons :hover{
  cursor: pointer;
  background-color: rgba(139, 0, 0, 0.836);
  color: white;
}
