.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1.5px solid gray;
    border-radius: 7px;
    width: 70vw;
    padding: 25px;
}

.treinador {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px 0;
}

.subtitulo{
    margin-bottom: 40px;
}

.favorites {
    display: grid;
    grid-template-columns: repeat(8 , auto) ;
    width: 65vw;
}

.imagem {
    border-radius: 50%;
    background: cornflowerblue;
    transition: 0.3s;
    margin: 5px 12px 20px;
}

.imagem:hover {
    transform: translateY(-15px); 
}

.deslike {
    border-radius: 25%;
    background-color: white;
    cursor: pointer;
    margin-bottom: 100px;
    position: absolute;
    
}