.App {
    text-align: center;
    padding: 2%;
    background-color: rgba(224, 224, 224, 0.781);
  }
  
  .pokedex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
 
  .pokemonCard {
    background: linear-gradient(to bottom, red, darkred);
    height: 200px;
    width: 180px;
    border-radius: 10px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    cursor: pointer;
  }
  
  .pokemonCard :hover{
    opacity: 20%;
  }
  
  button{
    background-color: rgb(194, 194, 194);
    border-radius: 5px;
    padding: 10px;
    border: 2px;
  }
  
  .pageButtons{
    display: flex;
    justify-content: space-evenly;
  }
  
  .pageButtons :hover{
    cursor: pointer;
    background-color: rgba(139, 0, 0, 0.836);
    color: white;
  }