.App {
    text-align: center;
    padding: 0;
    background-color: rgb(238, 238, 238);
  }
  
  .pokedex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 35px;
  }
   
  .pokemonCard:hover{
    opacity: 70%;
  }
  
  button{
    background-color: rgb(194, 194, 194);
    border-radius: 5px;
    padding: 10px;
    transition: 0.2s;
  }
  
  .pageButtons{
    display: flex;
    justify-content: space-evenly;
  }
  
  .pageButtons :hover{
    cursor: pointer;
    /* background-color: rgba(139, 0, 0, 0.836); */
    color: white;
  }