.h1 {
    margin: 0px 40%;
    display: block;
    margin-bottom: 30px;
}

.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    margin-top: 5%;
    align-items: center;
    height: 40vh;
}

.img{
    height: 50vh;
    width: 30vw;
}

.info{
    background: linear-gradient(to bottom, rgb(179, 179, 179), rgb(218, 218, 218));
    padding: 10px;
    height: 50vh;
    width: 40vw;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;

    display: grid;    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.kind{
    /* align-items: center; */
    padding: 1px 5px;
    width: 120px;
    height: auto;
    background-color: rgb(77, 77, 165);
    border-radius: 3px;
    text-align: center;
    margin: 0 10px;
}

.button{
    margin-top: 40px;
    margin-left: 70%;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s ;
    background-color: #2164e2;
}

/* Effeitos de transição do botão */
.button .explore:after {
    position: absolute;
    top: 0;
    transition: 0.5s;
}
  
.button:hover .explore {
    padding-right: 5px;
}
  
.button:hover .expore:after {
    right: 0;
}

.icone {
    width: 20px;
    height: 20px;
    margin-top: 2px; 
    border-radius: 50%;
}

.explore {
    color: #ddd;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    margin-bottom: 2px;
}

.lista_evolucoes{
    width: 40vw;
    margin: 40px auto auto auto;
    border-radius: 6px;
    transition: transform 0.2s;
}

.lista_evolucoes:hover {
    transform: translateX(20px); 
}

.evolucoes {
    border-radius: 50%;
    background-color: CornflowerBlue;
    margin-right: 5px;
}

.FcRight{
    margin-bottom: 40px;
}

.star {
    width: 5px;
    margin-left: 0vw;
    margin-left: 15px;
}
  