header {
    background-color: rgb(4, 4, 5);
    color: white;
    margin: auto ;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    /* justify-content: space-between; */
}

.pokedex {
    margin: auto auto ;
    display: flex;
    border-radius: 50%;
    padding: 9px;
    background: rgb(72, 250, 81);
    color: black;
}

header a{
    color: white;
    margin-left: 10px;
}