.header{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    color: cyan;
    padding: 10px 15px;
}

.title{
    color: whitesmoke;
}

.links{
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.links li{
    padding: 0px 10px;
}
